*~	

# Ignore user option and built files
*.suo
*.csproj.user
*/bin
*/obj
*/builds

# Generated help files
Help/

# ReSharper stuff
_ReSharper.*
*.ReSharper.user
*.ReSharper
test-reports
StyleCop.Cache