<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="OGDotNet_Analytics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <OGDotNet_Analytics.Properties.Settings>
            <setting name="ServiceUri" serializeAs="String">
                <value>http://127.0.0.1:8080/jax</value>
            </setting>
            <setting name="ConfigId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PreviousViewName" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowLocationPersisterData" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowVolatilityCurveToScale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>bbgintegrationtestuser</value>
            </setting>
        </OGDotNet_Analytics.Properties.Settings>
    </userSettings>
</configuration>
